# macOS
.DS_Store

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.local
.env.*.local
dist

# Coverage, test and cache
coverage/
.cache/
.nyc_output/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc